<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img
        src="https://static.trainlinecontent.com/content/vul/logos/trainline-mint.svg"
        alt="Trainline Logo"
        width="140"
        class="me-2"
      />
    </a>
    <button
      aria-label="Toggle navigation"
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="toggleCollapseOnNavClick()"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/search"
            routerLinkActive="active"
            (click)="toggleCollapseOnNavClick()"
          >
            <i class="fa-regular fa-heart"></i> Travel Plans
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/my-bookings"
            routerLinkActive="active"
            (click)="toggleCollapseOnNavClick()"
          >
            My Bookings
          </a>
        </li>
      </ul>
      <div class="d-flex ms-3">
        <button
          class="btn btn-outline-light"
          type="button"
          (click)="openModal(); toggleCollapseOnNavClick()"
        >
          <i class="fa-solid fa-user"></i> Signin
        </button>
      </div>
    </div>
  </div>
</nav>

<main class="flex-shrink-0">
  <router-outlet></router-outlet>
</main>

<div class="modal" #loginModal tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body p-4">
        <div class="text-center mb-4">
          <h4 class="modal-title fw-bold" id="authModalTitle">Welcome Back!</h4>
          <button
            type="button"
            class="btn-close position-absolute top-0 end-0 m-3"
            (click)="closeModal()"
            data-bs-dismiss="modal"
            aria-label="close"
          ></button>
        </div>
        @if (isLoginFormVisible()) {
        <form id="loginForm" class="needs-validation">
          <div class="mb-3">
            <input
              type="email"
              [(ngModel)]="loginObj.email"
              name="email"
              class="form-control"
              placeholder="Email"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              [(ngModel)]="loginObj.password"
              name="password"
              class="form-control"
              placeholder="Password"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100 mb-3"
            (click)="onLogin()"
          >
            Login
          </button>
          <p class="text-center">
            Don't have an account?
            <a
              id="showSignup"
              class="text-decoration-none"
              (click)="toggleForm()"
              >Sign Up</a
            >
          </p>
        </form>
        } @else {
        <form id="signupForm" class="needs-validation cursor-pointer">
          <div class="mb-3">
            <input
              type="text"
              [(ngModel)]="registerObj.fullName"
              name="fullName"
              class="form-control"
              placeholder="Full Name"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="email"
              [(ngModel)]="registerObj.email"
              name="email"
              class="form-control"
              placeholder="Email"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              [(ngModel)]="registerObj.password"
              name="password"
              class="form-control"
              placeholder="Password"
              required
            />
          </div>
          <div class="mb-3">
            <input
              type="password"
              [(ngModel)]="registerObj.confirmPassword"
              name="confirmPassword"
              class="form-control"
              placeholder="Confirm Password"
              required
            />
          </div>
          <button
            type="submit"
            class="btn btn-primary w-100 mb-3"
            (click)="onRegister()"
          >
            Sign Up
          </button>
          <p class="text-center">
            Already have an account?
            <a
              id="showLogin"
              class="text-decoration-none"
              (click)="toggleForm()"
              >Login</a
            >
          </p>
        </form>
        }
      </div>
    </div>
  </div>
</div>
